@import "tailwindcss";

@theme {
  --color-primary: #4bc4c4;
  --color-foreground: #f1f2ee;
  --color-foreground-muted: #abb3b3;
  --color-foreground-border: #b4b5b1;
  --color-foreground-bg: #202121;
  --color-foreground-bg-muted: #bcc2c2;
  --font-sans: "Inter Variable", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-gray-950);
    color: var(--color-foreground);
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: var(--font-mono);
    letter-spacing: -0.05rem;
  }
}
