/* Sidebar Container */
.sidebar {
  margin: 5px;
  height: 100vh;
  border-radius: 10px;
  width: 250px;
  background-color: #969696;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  left: 0;
}
/* Toggle Button */
.toggle-btn {
  border-radius: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #969696;
}

.toggle-btn:hover > .icon {
  color: #a2cbc6;
}

/* Nav Items */
.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.nav-item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ecf0f1;
  transition: all 0.2s ease-in-out;
}
/* Active Link Styling */
.active {
  background-color: #e69299;
}
.nav-item.active:hover {
  background-color: #e69299;
}
.nav-item:hover {
  background-color: #80afa9;
}

.icon {
  font-size: 20px;
}

.nav-item span {
  margin-left: 20px; /* Space between icon and text */
  font-size: 16px;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
  width: 80px; /* Shrink sidebar */
  align-items: center;
  background-color: #d6d5d5;
}
.toggle-btn.collapsed {
  background-color: #d6d5d5;
  font-size: 26px;
}

.toggle-btn.collapsed > .icon {
  background-color: #d6d5d5;
  font-size: 24px;
  color: #e6dcdc;
}
.sidebar.collapsed .active > .icon {
  color: #e69299;
  font-size: 25px;
}
.sidebar.collapsed .nav-item.active:hover {
  background-color: #d6d5d5;
}
.sidebar.collapsed .nav-item.active:hover > .icon {
  color: #e69299;
  font-size: 25px;
  transform: scale(1);
}

.sidebar.collapsed .nav-item:hover {
  background-color: #d6d5d5;
}
.sidebar.collapsed .nav-item:hover > .icon {
  color: #969696;
  transform: scale(1.3); /* Increase the size of the hovered icon */
  z-index: 1; /* Bring it to the foreground */
}

.sidebar.collapsed .nav-item span {
  display: none; /* Hide text in collapsed mode */
}
.sidebar.collapsed .active {
  background-color: #d6d5d5;
}

.sidebar.collapsed .icon {
  color: #5ca298;
  font-size: 24px;
  transition: transform 0.1s ease-in-out; /* Smooth transition */
  position: relative; /* Increase icon size in collapsed mode */
}
