#load-button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#load-button:hover {
  background-color: #ef969f;
  transform: scale(1.05);
  box-shadow: 1px 1px #a1a0a0;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
